.RegisterContainer {
  position: relative;
  z-index: 1;
  min-width: 370px;
  min-height: 490px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: rgba(51, 51, 51, 0.95);
  color: #f7f7f7;
  border: 1px solid rgba(51, 51, 51, 0.95);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    margin-top: 1rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
  }
  .registerLink {
    position: absolute;
    bottom: 2%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: #7ed56f;
    }
  }
  form {
    position: relative;
    display: flex;
    flex-direction: column;

    .inputContainer {
      padding: 0.5rem;
      margin: 0 auto;

      input {
        font-size: 1rem;
        letter-spacing: 1.5px;
        border-radius: 2px;
        padding: 0.6rem 1.8rem;
        text-align: center;
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all 0.3s;
        &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(#000, 0.1);
          border-bottom: 3px solid #55c57a;
        }
        &:focus:invalid {
          border-bottom: 3px solid #ff7730;
        }
        &::placeholder {
          letter-spacing: 2px;
        }
      }
    }

    button {
      width: 6rem;
      text-transform: uppercase;
      display: inline-block;
      height: 1.8rem;
      letter-spacing: 2px;
      border: none;
      color: white;
      margin: 0 auto;
      border-radius: 12px;
      margin-top: 0.5rem;
      background-color: #55c57a;

      &:hover {
        cursor: pointer;
        transform: translateY(-1px);
        background-color: #28b485;
      }
    }
  }

  .loginError {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
